@charset "UTF-8";

/*Estilo para Tela*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgba(27, 130, 214, 0.829);
}

header > h1 {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    background-color: rgba(35, 216, 248, 0.664);
    margin: 5px;
    padding: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    width: 600px;
    text-align: justify;
    
}

article h2 {
    text-align: center;
    margin: 20px 0 20px;
}

article p {
    text-indent: 35px;
    line-height: 1.4em;
}