@charset "UTF-8";

/*Mobile First*/

:root {
    --body: #d3d3d3;
    --header: #808080;
    --nav: #575757;
    --menu: #303030;

    --font-all: Arial, Helvetica, sans-serif;
}

* {
    font-family: var(--font-all);
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: var(--body);
}

header {
    background-color: var(--header);
}

header h1 {
    padding: 10px;
    text-align: center;
}

#burguer {
    background-color: var(--menu);
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: #fff;
    color: #000000;
}

nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

/*Ou nav a*/
nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: var(--nav);
    color: #fff;
    border-top: 2px solid var(--header);
}

/*Ou nav a:hover*/
nav > ul > li > a:hover {
    background-color: var(--header);
}

main {
    width: 90vw;
    background-color: #fff;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}