@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom, #01E4EA, #B82212);
    background-attachment: fixed;
    overflow: hidden;
}

#conteiner {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

div > h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.tempo {
    background-image: linear-gradient(45deg, #01E4EA, #B82212);
    display: inline-block;
    width: 85px;
    height: 75px;
    font-size: 4em;
    font-weight: bolder;
    border-radius: .3em;
    letter-spacing: 0px;
    box-shadow: 0px 15px 25px #0f5658c4;
}

.pontos {
    font-size: 4em;
    font-weight: bolder;
    margin: -5px;
}